# This requirements file lists all third-party dependencies for this project.
#
# Run 'pip install -r requirements.txt' to install these dependencies

# These days I would just recommend a fresh install of Anaconda which comes with
# all the goodies and work within a virtual environment.

numpy
biopython
requests
pandas
lxml
click
click_log>=0.2.0
responses
scipy
requests_cache